<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/springbootin10steps/src/main/java/com/tomhardy/springboot/basics/springbootin10steps/Springbootin10stepsApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tomhardy.springboot.basics.springbootin10steps.Springbootin10stepsApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="springbootin10steps"/>
</launchConfiguration>
